// 公共前缀
$prefix: mc;

$font-size: 10px;

$text-color-default: var(--mc-text-color-default);
$text-color-primary: var(--mc-text-color-primary);

$comp-color-default: var(--mc-comp-color-default);
$comp-color-primary: var(--mc-comp-color-primary);

$border-radius: var(--mc-radius-default);
